{% trans_default_domain 'userFiles' %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}

    <div class="form-group">
        <input type="submit" id="_submit" name="_submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" class="btn btn-block btn-lg btn-primary" />
    </div>
{{ form_end(form) }}

{# Back to dashboard #}
<p class="text-center">
    <a href="{{ path('userfiles_dashboard') }}" title="{{ 'label.back_to_dashboard'|trans }}">
        {{ 'label.back_to_dashboard'|trans }}</a>
</p>